@font-face {
    font-family: "icomoon";
    src: url("./icomoon.eot?u9xe6o");
    src: url("./icomoon.eot?u9xe6o#iefix") format("embedded-opentype"),
      url("./icomoon.ttf?u9xe6o") format("truetype"),
      url("./icomoon.woff?u9xe6o") format("woff"),
      url("./icomoon.svg?u9xe6o#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }