@keyframes logo {
  0% {
    color: #00796b;
  }
  25% {
    color: #009688;
  }
  50% {
    color: #40c4ff;
  }
  75% {
    color: #009688;
  }
  100% {
    color: #00796b;
  }
}

@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
    border-color: #00796b transparent #00796b transparent;
  }
  25% {
    transform: rotate(90deg);
    border-color: #009688 transparent #009688 transparent;
  }
  50% {
    transform: rotate(180deg);
    border-color: #40c4ff transparent #40c4ff transparent;
  }
  75% {
    transform: rotate(270deg);
    border-color: #009688 transparent #009688 transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: #00796b transparent #00796b transparent;
  }
}
